{% extends "base.html" %}

{% block content %}

	<!-- start slipsum code -->

	<h1><div style="font-family: 'Cherry Swash', serif;">Musical Background</h1>
	<p><strong>Voice:</strong><p/>
	<p>Dr. Leslie Heal-Ray has been teaching voice for over 15 years. She has experience teaching all ages and musical styles.  Prior to moving to Chapel Hill, she maintained a private studio in addition to her studio at Utah State University, where she taught vocal performance majors. </p>
	<p>Her students have advanced in competitions sponsored by the Metropolitan Opera National Council Auditions and the National Association of Teachers of Singing, and have continued to pursue graduate degrees.</p>
	<p>Dr. Heal-Ray earned her Doctorate of Music in performance with minors in music history and stage direction from Indiana University Jacobs School of Music, a Masters of music in vocal performance from The Shepherd School of Music – Rice University and a Bachelors of Arts degree from Utah State University. She has performed with Utah Festival Opera Company for several seasons and was a featured soloist with the Utah Symphony Orchestra. She is equally comfortable in recital settings, master classes and presentations.  Dr. Heal-Ray also taught Music Appreciation courses at Utah State University and  Peace College.</p>
	<p>Her teaching methodologies are grounded in principles from classical vocal pedagogy. In practice, these methodologies are easily extended to other singing styles such as Jazz, musical theater, and rock. Dr. Heal-Ray has a depth of experience teaching and singing in the aforementioned genres, with students showing measurable improvement.</p>
	<p><strong>Violin:</strong>
	<p> Leslie began violin study in 4th grade as part of an after school program. She studied through high school and college and later conducted 4th and 5th grade orchestra through Mountain West String Academy under the direction of Dr. James McWhorter. She was fortunate to have studied privately from fantastic teachers  Ted Ashton and Barbara Miller. She is passionate about children learning music in elementary school.</p>
	<p><strong>Piano:</strong>
	<p>Leslie started piano at age 5, learned how to read notes, then quit because she didn’t like to play scales and wanted to make up her own tunes! She was diligent in practicing  and would  spend hours at the piano learning the tunes she heard played by her mother and sister. After several years of self study, she returned to structured lessons. At one point her summers consisted of piano, violin and voice lessons mixed in with  tennis. While at Rice University, Leslie continued to study privately where she played Beethoven’s 1st concerto op. 15, and Mozart’s Sonata in D K. 284, and agreed to practice her scales and arpeggios. She uses her piano skills to teach beginning piano and accompany her music students.</p>

	<h1><div style="font-family: 'Cherry Swash', serif;">Agile development and the Musical Mind</h1>

	<!-- please do not remove this line -->

	<div style="display:none;">
	<a href="http://slipsum.com">lorem ipsum</a></div>

	<!-- end slipsum code -->

{% endblock content %}
