{% extends "base.html" %}

{% block content %}
    <h1><div style="font-family: 'Cherry Swash', serif;">Performances</h1>
	<!-- start slipsum code -->

	<ul>
	<li>Dec. 14, 2013 Soprano solo, Messiah, Newman Center, Chapel Hill.
	<li>June 10, 17,24 July 1, 8, 2013 Group Voice Class held at University United Methodist Church, Chapel Hill</li>
	<li>Oct. 28th 2012 University United Methodist Church, Chapel Hill, Bach Cantata Aria No. 7</li>
	<li>Sept. 16th, 2012 with The Secret Drive Band, Good Neighbor Day, Holding Park 133 W. Owen Ave. Sponsored by the Wake Forest Human Relations Council. 1:00-4:00 pm.</li>
	<li>Sept. 8th, 2012 with Dented Fenders, private party UNC Faculty Club.</li>
	<li>July. 13th, 2012 Solo with Voices  “Pie Jesu,” from Fauré requiem and “Why do they shut me out of heaven?” by Aaron Copeland.</li>
	<li>May 20, 2012 Burlington, NC with Cantari singing  works by Stephen Chatman.</li>
	<li>May 19, 2012 UNC Memorial Hall, Chapel Hill, NC  with Cantari.Works by Stephen Chatman’s new work “It Will Not Change,” For SATB Chorus, Soprano solo, and Saxophone.</li>
	<li>March 30-31, 2012  recital and masterclass The College of Southern Idaho in Twin Falls.</li>
	<li>February 12, 2012 Classical vocal recital with pianist Nyle Matsuoka to benefit heart surgeries in Uganda. Held at the home of Ms. Florence Peacock. Chapel Hill, NC.  By invitation only.</li>
	<li>November 13, 2012 solo with UNC Women’s Glee Club at University United Methodist Church.</li>
	<li>November 4, 2011 Secret Drive Band with Phil Davis (organist for Jerry Lee Lewis) at the Shriner’s Convention in Hickory, NC.</li>
	<li>July 30, 2011 NAPA Grand Opening Show, Leslie Ray with the Secret Drive band.</li>
	<li>July 28, 2011 The Clubhouse, Garner, NC, Leslie Ray with Dented Fenders.</li>
	<li>June 22, 2011 The Blue Note Grill 7-9 Leslie Ray with The Dented Fenders.</li>
	<li>May 15, 2011 Mt. Carmel Baptist Church Chapel Hill, NC Mendelssohn’s Cantata  Hear My Prayer 7:00 PM admission is free</li>
	<li>April 29th 2011 The Tavern, Durham, NC Leslie Ray and the Dented Fenders 9pm until very late.</li>
	<li>April 24th 2011 United Methodist Church, Handel’s Messiah “I Know That My Redeemer Liveth,” with orchestra. 11am service</li>
	</ul>
	<h1><div style="font-family: 'Cherry Swash', serif;">Projects</h1>
	<ul>
	<li>The path of the righteous man is beset on all sides by the iniquities </li>
	</ul>
	<!-- please do not remove this line -->

	<div style="display:none;">
	<a href="http://slipsum.com">lorem ipsum</a></div>

	<!-- end slipsum code -->

{% endblock content %}
