{% extends "base.html" %}

{% block content %}

	<link href='http://fonts.googleapis.com/css?family=Cherry+Swash' rel='stylesheet' type='text/css'>

	<h2><center><div style="font-family: 'Cherry Swash', serif;">About Me</h2></center>
	<center><img src="{{ url_for('static', filename='images/black_white_tree250.jpg' ) }}" /></center>

	<p><strong>I Love Music.</strong></p>
	<p> I hold a doctorate of music with minors in stage direction and history from Indiana University.
		I have a masters of music from Rice University and a Bachelors of Arts from Utah State University. With my experience and degrees I
		currently run a small music studio teaching voice and piano. I've also lectured at the University level and have presented clinics on proper singing.
	<p><strong>I Love Science. </strong></p>
	<p>One of my businesses is selling my handmade soap. It's called "Singers Soap: A Natural Accompaniment for Clean Performances." You can find it a www.singersssoap.com
		or contact me if it's currently sold out. </p>
	<p><strong>I Love Technology. </strong></p>
	<p>Lately I've become obsessed with technology. Particularly website development. I find it intensly creative and spend every possible moment using Python, Flask, Django, HTML, CSS, Javascript and
		other tools that help me out. I'd love to find a nitch in technology where I can continue to learn and use my teaching and organizational skills. </P>
	<p> P.S. I built this site myself. No apologies for all the pink.</p>


	<div class="container">
	<div class="row-fluid">
	<div class="span3">

	</div>

	<!-- please do not remove this line -->

	<div style="display:none;">
	<a href="http://slipsum.com">lorem ipsum</a></div>

	<!-- end slipsum code -->

{% endblock content %}
